<div class="row" ng-controller="CreateUserController">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Register a user</h4>
                <p class="category">Enter details for a new user</p>
            </div>
            <div class="card-content">
                <form name="form" ng-submit="register()" role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Username</label>
                                <input type="text" name="username" id="username" class="form-control"
                                       ng-model="username" required/>
                                <span ng-show="form.username.$dirty && form.username.$error.required"
                                      class="help-block">Username is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Email</label>
                                <input type="text" name="email" id="email" class="form-control" ng-model="email"
                                       required/>
                                <span ng-show="form.email.$dirty && form.email.$error.required"
                                      class="help-block">Email is required</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Phone Number</label>
                                <input type="text" name="phone" id="phone" class="form-control" ng-model="phone"
                                       required/>
                                <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">
                            Phone number is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group label-floating">
                                <label for="comment" class="control-label">User type</label>
                                <select id="comment" name="comment" ng-model="comment" class="form-control" required>
                                    <option value="admin">Admin</option>
                                    <option value="user">User</option>
                                    <option value="support">Support</option>
                                </select>
                                <span ng-show="form.comment.$dirty && form.comment.$error.required" class="help-block">
                            User type is required
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group label-floating">
                                <label for="isValid" class="control-label">Valid?</label>
                                <select id="isValid" name="isValid" ng-model="isValid" class="form-control" required>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                                <span ng-show="form.IsValid.$dirty && form.isValid.$error.required" class="help-block">
                                      User validity is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Password</label>
                                <input type="password" name="password" id="password" class="form-control"
                                       ng-model="password"
                                       required/>
                                <span ng-show="form.password.$dirty && form.password.$error.required"
                                      class="help-block">Password is required</span>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="form-actions">
                            <button type="submit" ng-disabled="form.$invalid || dataLoading"
                                    class="btn btn-success pull-right">
                                Register
                                <img ng-if="dataLoading" style="width: 15px !important; height: auto"
                                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                            </button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
