<div class="row" ng-controller="UserController">
    <div class="col-md-8">
        <div class="card">
            <div class="card-content">
                <h4 class="title">Assigned Cameras</h4>
                <table class="table table-hover">
                    <thead class="">
                    <tr>
                        <th>Username</th>
                        <th>Camera Name</th>
                        <th>City</th>
                        <th>Allocated Space</th>
                        <th>Used Space</th>
                        <th>Last Update</th>
                        <th>More</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="camera in cameras">
                        <td>{{camera.UserName}}</td>
                        <td><a href="#/camera/:{{camera.CameraName}}">{{camera.CameraName}}</a></td>
                        <td>{{camera.City}}</td>
                        <td>{{camera.AllocatedSpace}}</td>
                        <td>{{camera.DirectorySize}}</td>
                        <td><span>{{camera.LastestFileCreationTime | date:'MM/dd/yyyy h:mma'}}</span></td>
                        <td><a href="#/camera/:{{camera.CameraName}}"><i class="material-icons">more_horiz</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-header" data-background-color="green">
                <h4 class="card-title">{{user.UserName}}</h4>
                <h6 class="category text-gray">{{user.Comment}}</h6>
            </div>
            <div class="content">

                <form name="form" ng-submit="update()" role="form">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Username</label>
                                    <input type="text" name="username" id="username" class="form-control"
                                           value="{{user.UserName}}"
                                           ng-model="username" required/>
                                    <span ng-show="form.username.$dirty && form.username.$error.required"
                                          class="help-block">Username is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email</label>
                                    <input type="text" name="email" id="email" class="form-control" ng-model="email"
                                           value="{{user.email}}" required/>
                                    <span ng-show="form.email.$dirty && form.email.$error.required"
                                          class="help-block">Email is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Phone Number</label>
                                    <input type="text" name="phone" id="phone" class="form-control" ng-model="phone"
                                           value="{{user.phone}}" required/>
                                    <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">
                            Phone number is required
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group label-floating">
                                    <label for="comment" class="control-label">User type</label>
                                    <select id="comment" name="comment" ng-model="comment" class="form-control"
                                            required>
                                        <option value="admin">Admin</option>
                                        <option value="user">User</option>
                                        <option value="support">Support</option>
                                    </select>
                                    <span ng-show="form.comment.$dirty && form.comment.$error.required"
                                          class="help-block">
                            User type is required
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label for="isValid" class="control-label">Valid?</label>
                                    <select id="isValid" name="isValid" ng-model="isValid" class="form-control"
                                            required>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                    <span ng-show="form.isValid.$dirty && form.isValid.$error.required"
                                          class="help-block">
                                      User validity is required
                                </span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Update
                            <img ng-if="dataUpdating" style="width: 15px !important; height: auto"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </button>
                        <a ng-click="delete()" class="btn btn-danger">Delete
                            <img ng-if="dataLoading" style="width: 15px !important; height: auto"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>