<div class="row" ng-controller="UsersController">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-content table-responsive">
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <h4 class="title">System users</h4>
                        <p class="category">All registered users</p>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <a href="#/users/create" class="btn pull-right btn-sm" data-background-color="orange">New
                            User</a>
                    </div>
                </div>

                <table class="table table-hover" ng-init="start = 1">
                    <thead class="">
                    <tr>
                        <!--<th>ID</th>-->
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Approved</th>
                        <th>Locked</th>
                        <th>More</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users" ng-init="current = $parent.start; $parent.start=$parent.start;">
                        <td>{{current + $index}}</td>
                        <td><a href="#/users/:{{ user.UserName }}">{{ user.UserName }}</a></td>
                        <td>{{ user.Email }}</td>
                        <td>{{ user.Email }}</td>
                        <td>{{ user.Comment }}</td>
                        <td>{{ user.IsApproved ? "YES" :"NO" }}</td>
                        <td>{{ user.IsLockedOut ? "YES" :"NO" }}</td>
                        <td><a href="#/users/:{{ user.UserName }}"><i class="material-icons">more_horiz</i> </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
