<div class="row" ng-controller="CameraController">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Cameras</h4>
                <p class="category">All registered cameras
                </p>

            </div>
            <div class="card-content table-responsive">

                <a href="#/cameras/create" class="btn pull-right btn-sm" data-background-color="orange">New Camera</a>
                <table class="table table-hover">
                    <thead class="">
                    <tr>
                        <th>Username</th>
                        <th>Camera Name</th>
                        <th>City</th>
                        <th>Allocated Space</th>
                        <th>Used Space</th>
                        <th>Last Update</th>
                        <th>More</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="camera in cameras">
                        <td>{{camera.UserName}}</td>
                        <td><a href="#/camera/:{{camera.CameraName}}">{{camera.CameraName}}</a></td>
                        <td>{{camera.City}}</td>
                        <td>{{camera.AllocatedSpace}}</td>
                        <td>{{camera.DirectorySize}}</td>
                        <td><span>{{camera.LastestFileCreationTime | date:'MM/dd/yyyy h:mma'}}</span></td>
                        <td><a href="#/camera/:{{camera.CameraName}}"><i class="material-icons">more_horiz</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
