<div class="row" ng-controller="CreateCameraController">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Register a camera</h4>
                <p class="category">Enter details for a new camera</p>
            </div>
            <div class="card-content">
                <form name="form" ng-submit="register()" role="form">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Username</label>
                                <select {passive: true} id="username" name="username" ng-model="username" class="form-control" required>
                                    <option value="gold">Gold</option>
                                    <option value="silver">Silver</option>
                                </select>
                                <span ng-show="form.username.$dirty && form.username.$error.required"
                                      class="help-block">Username is required</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Camera Name.</label>
                                <input type="text" name="camera_no" id="camera_name" class="form-control"
                                       ng-model="camera_name"
                                       required/>
                                <span ng-show="form.camera_name.$dirty && form.camera_name.$error.required"
                                      class="help-block">Camera name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group label-floating">
                                <label class="control-label">City.</label>
                                <input type="text" name="city" id="city" class="form-control" ng-model="city"
                                       required/>
                                <span ng-show="form.city.$dirty && form.city.$error.required"
                                      class="help-block">City is required</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Allocated storage</label>
                                <input type="number" name="space" id="space" class="form-control" ng-model="space"
                                       required/>
                                <span ng-show="form.space.$dirty && form.space.$error.required" class="help-block">
                            Allocated is required
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Package type</label>
                                <select id="package" name="package" ng-model="package" class="form-control" required>
                                    <option value="gold">Gold</option>
                                    <option value="silver">Silver</option>
                                </select>
                                <span ng-show="form.package.$dirty && form.package.$error.required" class="help-block">
                            Camera package is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label for="description" class="control-label">Description</label>
                                <input class="form-control" id="description" name="description" ng-model="description"/>
                                <span ng-show="form.comment.$dirty && form.comment.$error.required" class="help-block">
                            User type is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || dataLoading"
                                class="btn btn-success pull-right">
                            Register
                            <img ng-if="dataLoading" style="width: 15px !important; height: auto"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
