<div class="row" ng-controller="CameraProfileController">
    <div class="col-md-8">
        <div class="card">
            <div class="card-content">
                <h4 class="title">Camera Logs</h4>
                <table class="table table-hover">
                    <thead class="">
                    <tr>
                        <th>Time</th>
                        <th>Action</th>
                        <th>...</th>
                        <th>Allocated Space</th>
                        <th>Used Space</th>
                        <th>Last Update</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="log in logs">
                        <td>{{camera.LastestFileCreationTime | date:'MM/dd/yyyy h:mma'}}</td>
                        <td>{{camera.CameraName}}</td>
                        <td>{{camera.City}}</td>
                        <td>{{camera.AllocatedSpace}}</td>
                        <td>{{camera.DirectorySize}}</td>
                        <td><span>{{camera.LastestFileCreationTime | date:'MM/dd/yyyy h:mma'}}</span></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-header" data-background-color="green">
                <h4 class="card-title">{{camera.UserName}}</h4>
                <h6 class="category text-gray">{{camera.CameraName}}</h6>
            </div>
            <div class="content">
                <div class="card-content">
                    <form name="form" ng-submit="update()" role="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Username</label>
                                    <select {passive: true} id="username" name="username" ng-model="username"
                                            class="form-control" required>
                                        <option value="gold">Gold</option>
                                        <option value="silver">Silver</option>
                                    </select>
                                    <span ng-show="form.username.$dirty && form.username.$error.required"
                                          class="help-block">Username is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Camera Name.</label>
                                    <input type="text" name="camera_no" id="camera_name" class="form-control"
                                           ng-model="camera_name"
                                           required/>
                                    <span ng-show="form.camera_name.$dirty && form.camera_name.$error.required"
                                          class="help-block">Camera name is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">City.</label>
                                    <input type="text" name="city" id="city" class="form-control" ng-model="city"
                                           required/>
                                    <span ng-show="form.city.$dirty && form.city.$error.required"
                                          class="help-block">City is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Allocated storage</label>
                                    <input type="number" name="space" id="space" class="form-control" ng-model="space"
                                           required/>
                                    <span ng-show="form.space.$dirty && form.space.$error.required" class="help-block">
                            Allocated is required
                                </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Package type</label>
                                    <select id="package" name="package" ng-model="package" class="form-control"
                                            required>
                                        <option value="gold">Gold</option>
                                        <option value="silver">Silver</option>
                                    </select>
                                    <span ng-show="form.package.$dirty && form.package.$error.required"
                                          class="help-block">
                            Camera package is required
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                    <label for="description" class="control-label">Description</label>
                                    <input class="form-control" id="description" name="description"
                                           ng-model="description"/>
                                    <span ng-show="form.comment.$dirty && form.comment.$error.required"
                                          class="help-block">
                            User type is required
                                </span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Update
                            <img ng-if="dataUpdating" style="width: 15px !important; height: auto"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </button>
                        <a ng-click="delete()" class="btn btn-danger">Delete
                            <img ng-if="dataLoading" style="width: 15px !important; height: auto"
                                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>