<div class="sidebar" data-color="blue">
    <div class="logo">
        <a href="#/" class="simple-text">
            Spotted
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li ng-class="{active: $route.current.activetab == 'dashboard'}">
                <a href="#/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li ng-class="{active: $route.current.activetab == 'users'}">
                <a href="#/users">
                    <i class="material-icons">people</i>
                    <p>Users</p>
                </a>
            </li>
            <li ng-class="{active: $route.current.activetab == 'cameras'}">
                <a href="#/cameras">
                    <i class="material-icons">local_see</i>
                    <p>Cameras</p>
                </a>
            </li>
            <li ng-class="{active: $route.current.activetab == 'reports'}">
                <a href="#/reports">
                    <i class="material-icons">library_books</i>
                    <p>Reports</p>
                </a>
            </li>
        </ul>
    </div>
</div>