<div class="wrapper">

    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
        <div class="sidebar" data-color="blue">
            <div class="logo">
                <a href="#/" class="simple-text">
                    Spotted
                </a>
            </div>

            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li ng-class="{active: $route.current.activetab == 'dashboard'}">
                        <a href="#/">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li ng-class="{active: $route.current.activetab == 'users'}">
                        <a href="#/users">
                            <i class="material-icons">people</i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li ng-class="{active: $route.current.activetab == 'cameras'}">
                        <a href="#/cameras">
                            <i class="material-icons">local_see</i>
                            <p>Cameras</p>
                        </a>
                    </li>
                    <li ng-class="{active: $route.current.activetab == 'reports'}">
                        <a href="#/reports">
                            <i class="material-icons">library_books</i>
                            <p>Reports</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#{{page.url}}">{{page.title}}</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">dashboard</i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="#logout" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">exit_to_app</i>
                            </a>
                        </li>
                    </ul>

                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" placeholder="Search in this page" ng-model="search">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div ng-include="body"></div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2017 <a href="http://www.themayne.co.ke">The Mayne</a>
                </p>
            </div>
        </footer>
    </div>
</div>